.edit_meme{
  box-sizing: border-box;
  position: fixed;
  width: 50%;
  height: auto;
  object-fit: contain;
  // margin: auto;
  top: 2rem;
  left: 10rem;
   
  img{
    width: 50%;
    height: auto;
    object-fit: fill;
    margin:0;
  }

  label{
    background-color: transparent;
    color: black;
    font-weight: bolder;
  }
  button{
    min-width: 4rem;
    margin: 0.2rem 1rem;

    &:hover{

      background: #434343;
	    letter-spacing: 1px;
	    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	    transition: all 0.4s ease 0s;
      color: white;
      font-weight: bold;
    }
  }

  .input_text {
    padding:0;
    position:absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    z-index:1;
    border: 1px dashed black;
    text-transform: uppercase;
    overflow:hidden;
  }
}